// variables
$POS_X_03: 13.9%;
$POS_X_04: 18.5%;
$POS_X_05: 22.9%;
$POS_X_08: 36.4%;
$POS_X_09: 41%;
$POS_X_10: 45.5%;
$POS_X_11: 50%;
$POS_X_13: 59.2%;
$POS_X_14: 63.5%;
$POS_X_16: 73%;
$POS_X_17: 77.4%;
$POS_X_18: 82%;
$POS_X_19: 86.6%;
$POS_Y_01: 5.3%;
$POS_Y_02: 10.1%;
$POS_Y_05: 25.3%;
$POS_Y_06: 30.3%;
$POS_Y_07: 35.3%;
$POS_Y_08: 40.1%;
$POS_Y_10: 50.2%;
$POS_Y_11: 55.2%;
$POS_Y_12: 60.2%;
$POS_Y_13: 65%;
$POS_Y_14: 70.5%;
$POS_Y_15: 75%;
$POS_Y_16: 80.2%;
$POS_Y_17: 85.2%;
$POS_Y_19: 95.1%;

// for svg tags
.base {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frame {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.province {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  stroke: #1a1a1a;
  pointer-events: fill;
}

// for province images
.sea {
  fill: #a0a3dfff;
}
.free-province {
  fill: #ebdaadff;
}
.austrian-province {
  fill: #ff9999ff;
}
.english-province {
  fill: #99b4ffff;
}
.french-province {
  fill: #99ffffff;
}
.german-province {
  fill: #b5b5b5ff;
}
.italian-province {
  fill: #99ff99ff;
}
.russian-province {
  fill: #ffffffff;
}
.turkish-province {
  fill: #f7ff66ff;
}

// for supply center images
.free-supply-center {
  fill: #028200aff;
}
.austrian-supply-center {
  fill: #330000ff;
}
.english-supply-center {
  fill: #000d33ff;
}
.french-supply-center {
  fill: #003333dd;
}
.german-supply-center {
  fill: #191919ff;
}
.italian-supply-center {
  fill: #003300ff;
}
.russian-supply-center {
  fill: #ffffffff;
  filter: drop-shadow(0 0 1px #000000ff) drop-shadow(0 0 1px #000000ff);
}
.turkish-supply-center {
  fill: #303300ff;
}

.supply-center {
  pointer-events: none;
  position: absolute;
  width: 12px;
  height: 12px;
}
.supply-center-on-edi {
  @extend .supply-center;
  top: $POS_Y_01;
  left: $POS_X_04;
}
.supply-center-on-lvp {
  @extend .supply-center;
  top: $POS_Y_02;
  left: $POS_X_03;
}
.supply-center-on-lon {
  @extend .supply-center;
  top: $POS_Y_05;
  left: $POS_X_04;
}
.supply-center-on-bre {
  @extend .supply-center;
  top: $POS_Y_07;
  left: $POS_X_03;
}
.supply-center-on-par {
  @extend .supply-center;
  top: $POS_Y_08;
  left: $POS_X_05;
}
.supply-center-on-mar {
  @extend .supply-center;
  top: $POS_Y_11;
  left: $POS_X_04;
}
.supply-center-on-kie {
  @extend .supply-center;
  top: $POS_Y_05;
  left: $POS_X_10;
}
.supply-center-on-ber {
  @extend .supply-center;
  top: $POS_Y_06;
  left: $POS_X_13;
}
.supply-center-on-mun {
  @extend .supply-center;
  top: $POS_Y_10;
  left: $POS_X_08;
}
.supply-center-on-ven {
  @extend .supply-center;
  top: $POS_Y_12;
  left: $POS_X_11;
}
.supply-center-on-rom {
  @extend .supply-center;
  top: $POS_Y_15;
  left: $POS_X_10;
}
.supply-center-on-nap {
  @extend .supply-center;
  top: $POS_Y_17;
  left: $POS_X_09;
}
.supply-center-on-vie {
  @extend .supply-center;
  top: $POS_Y_11;
  left: $POS_X_14;
}
.supply-center-on-tri {
  @extend .supply-center;
  top: $POS_Y_12;
  left: $POS_X_13;
}
.supply-center-on-bud {
  @extend .supply-center;
  top: $POS_Y_13;
  left: $POS_X_14;
}
.supply-center-on-stp {
  @extend .supply-center;
  top: $POS_Y_01;
  left: $POS_X_19;
}
.supply-center-on-war {
  @extend .supply-center;
  top: $POS_Y_08;
  left: $POS_X_16;
}
.supply-center-on-mos {
  @extend .supply-center;
  top: $POS_Y_06;
  left: $POS_X_19;
}
.supply-center-on-sev {
  @extend .supply-center;
  top: $POS_Y_14;
  left: $POS_X_18;
}
.supply-center-on-con {
  @extend .supply-center;
  top: $POS_Y_17;
  left: $POS_X_17;
}
.supply-center-on-ank {
  @extend .supply-center;
  top: $POS_Y_16;
  left: $POS_X_19;
}
.supply-center-on-smy {
  @extend .supply-center;
  top: $POS_Y_19;
  left: $POS_X_19;
}

// for unit images for svg
.unit {
  filter: drop-shadow(0 0 1px #000000) drop-shadow(1px 1px 2px #000000) drop-shadow(0 0 1px #000000);
  position: absolute;
  width: 16px;
  height: 16px;

  @media (min-width: 640px) {
    width: 24px;
    height: 24px;
  }
}
.austrian-unit {
  @extend .unit;
  fill: #ff1865;
}
.english-unit {
  @extend .unit;
  fill: #58aaff;
}
.french-unit {
  @extend .unit;
  fill: #00f8ff;
}
.german-unit {
  @extend .unit;
  fill: #b0b0b0;
}
.italian-unit {
  @extend .unit;
  fill: #6f6;
}
.russian-unit {
  @extend .unit;
  fill: #ffffff;
}
.turkish-unit {
  @extend .unit;
  fill: #ffe700;
}

// unit position for svg tag
.unit-on-nao {
  @extend .unit;
}
.unit-on-nwg {
  @extend .unit;
}
.unit-on-bar {
  @extend .unit;
}
.unit-on-nth {
  @extend .unit;
}
.unit-on-ska {
  @extend .unit;
}
.unit-on-iri {
  @extend .unit;
}
.unit-on-bot {
  @extend .unit;
}
.unit-on-hel {
  @extend .unit;
}
.unit-on-bal {
  @extend .unit;
}
.unit-on-eng {
  @extend .unit;
}
.unit-on-mao {
  @extend .unit;
}
.unit-on-lyo {
  @extend .unit;
}
.unit-on-tys {
  @extend .unit;
}
.unit-on-adr {
  @extend .unit;
}
.unit-on-wes {
  @extend .unit;
}
.unit-on-bla {
  @extend .unit;
}
.unit-on-aeg {
  @extend .unit;
}
.unit-on-ion {
  @extend .unit;
}
.unit-on-eas {
  @extend .unit;
}
.unit-on-cly {
  @extend .unit;
}
.unit-on-edi {
  @extend .unit;
  top: 9%;
  left: 18.5%;
}
.unit-on-lvp {
  @extend .unit;
  top: 13.5%;
  left: 13.5%;
}
.unit-on-yor {
  @extend .unit;
}
.unit-on-wal {
  @extend .unit;
}
.unit-on-lon {
  @extend .unit;
  top: 25.3%;
  left: 22%;
}
.unit-on-bre {
  @extend .unit;
  top: 38%;
  left: 16%;
}
.unit-on-pic {
  @extend .unit;
}
.unit-on-par {
  @extend .unit;
  top: 43%;
  left: 25%;
}
.unit-on-bur {
  @extend .unit;
}
.unit-on-gas {
  @extend .unit;
}
.unit-on-mar {
  @extend .unit;
  top: 57.5%;
  left: 29%;
}
.unit-on-kie {
  @extend .unit;
  top: 33%;
  left: 49%;
}
.unit-on-ber {
  @extend .unit;
  top: 33%;
  left: 61.5%;
}
.unit-on-pru {
  @extend .unit;
}
.unit-on-ruh {
  @extend .unit;
}
.unit-on-mun {
  @extend .unit;
  top: 48%;
  left: 49%;
}
.unit-on-sil {
  @extend .unit;
}
.unit-on-pie {
  @extend .unit;
}
.unit-on-ven {
  @extend .unit;
  top: 63%;
  left: 52.5%;
}
.unit-on-tus {
  @extend .unit;
}
.unit-on-rom {
  @extend .unit;
  top: 78%;
  left: 45.7%;
}
.unit-on-apu {
  @extend .unit;
}
.unit-on-nap {
  @extend .unit;
  top: 85.5%;
  left: 44.5%;
}
.unit-on-tyr {
  @extend .unit;
}
.unit-on-boh {
  @extend .unit;
}
.unit-on-gal {
  @extend .unit;
}
.unit-on-vie {
  @extend .unit;
  top: 57.2%;
  left: 65.5%;
}
.unit-on-tri {
  @extend .unit;
  top: 67%;
  left: 59.2%;
}
.unit-on-bud {
  @extend .unit;
  top: 68%;
  left: 68.5%;
}
.unit-on-fin {
  @extend .unit;
}
.unit-on-stp {
  @extend .unit;
  top: 16%;
  left: 91%;
}
.unit-on-liv {
  @extend .unit;
}
.unit-on-war {
  @extend .unit;
  top: 43%;
  left: 75.5%;
}
.unit-on-mos {
  @extend .unit;
  top: 38%;
  left: 91%;
}
.unit-on-ukr {
  @extend .unit;
}
.unit-on-sev {
  @extend .unit;
  top: 65.5%;
  left: 91%;
}
.unit-on-con {
  @extend .unit;
  top: 85.5%;
  left: 80%;
}
.unit-on-ank {
  @extend .unit;
  top: 82.9%;
  left: 88.8%;
}
.unit-on-smy {
  @extend .unit;
  top: 95%;
  left: 92%;
}
.unit-on-arm {
  @extend .unit;
}
.unit-on-syr {
  @extend .unit;
}
.unit-on-nwy {
  @extend .unit;
}
.unit-on-swe {
  @extend .unit;
}
.unit-on-den {
  @extend .unit;
}
.unit-on-hol {
  @extend .unit;
}
.unit-on-bel {
  @extend .unit;
}
.unit-on-spa {
  @extend .unit;
}
.unit-on-por {
  @extend .unit;
}
.unit-on-naf {
  @extend .unit;
}
.unit-on-tun {
  @extend .unit;
}
.unit-on-alb {
  @extend .unit;
}
.unit-on-ser {
  @extend .unit;
}
.unit-on-gre {
  @extend .unit;
}
.unit-on-rum {
  @extend .unit;
}
.unit-on-bul {
  @extend .unit;
}

// anchor position for svg tag
.anchor {
  position: absolute;
  width: 12px;
  height: 12px;

  @media (min-width: 640px) {
    width: 18px;
    height: 18px;
  }
}
.anchor-on-stpsc {
  @extend .anchor;
  top: 22%;
  left: 87%;
}
