@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

// Button
.btn-primary {
  @apply bg-blue-600 hover:bg-blue-500 text-white rounded px-4 py-2;
  @apply mt-2 mb-2;
}

// Map
.map {
  position: relative;
  height: 600px;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 660px;
    height: 600px;
  }
}
