@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
  }
}

$MIN_WIDTH: 375px;
$BOARD_WIDTH: 660px;
$BOARD_HEIGHT: 600px;

// Button
.btn-primary {
  @apply bg-blue-600 hover:bg-blue-500 text-white rounded px-4 py-2;
  @apply mt-2 mb-2;
}

main {
  position: relative;
  max-width: 100vw;
  min-width: $MIN_WIDTH;
}

// board
.board {
  display: block;
  position: relative;
  max-width: 660px;
  max-height: 600px;
  width: 100%;
  height: 0;
  padding-top: min(calc($BOARD_HEIGHT / $BOARD_WIDTH * 100%), $BOARD_HEIGHT);
  min-height: calc(600px / 660px * $MIN_WIDTH);

  .units {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
