.sea {
  stroke: #1a1a1a;
  fill: #a0a3dfff;
}
.free_land {
  stroke: #1a1a1a;
  fill: #ebdaadff;
}
.austrian_land {
  stroke: #1a1a1a;
  fill: #ff9999ff;
}
.english_land {
  stroke: #1a1a1a;
  fill: #99b4ffff;
}
.french_land {
  stroke: #1a1a1a;
  fill: #99ffffff;
}
.german_land {
  stroke: #1a1a1a;
  fill: #b5b5b5ff;
}
.italian_land {
  stroke: #1a1a1a;
  fill: #99ff99ff;
}
.russian_land {
  stroke: #1a1a1a;
  fill: #ffffffff;
}
.turkish_land {
  stroke: #1a1a1a;
  fill: #f7ff66ff;
}
